**Exercise 1 -  Getting to k now the order of operations**

In [1]:
(100 - 5 ** 3) / 5

-5.0

In [2]:
6 + 15 % 4

9

In [3]:
2 ** 2 + 24 // 4

10

**Exercise 2 – Integer and float types**

In [4]:
type(6)

int

In [5]:
type(6.0)

float

In [6]:
5 + 3.14

8.14

In [7]:
int(7.9999999999)

7

In [8]:
float(6)

6.0

**Complex number types**

In [9]:
(2 + 3j) / (1 - 5j)

(-0.5+0.5j)

**Errors in Python**

**Variable assignment**

**Exercise 3 – Assigning variables**

In [10]:
x = 2
x + 1

3

In [11]:
x

2

In [12]:
x = 3.0
x += 1
x

4.0

**Casting – changing types**

In [13]:
y = 10
y -= 10.0
type(y)

float

**Exercise 4 – Naming variables**

In [1]:
1st_list = 1

SyntaxError: invalid decimal literal (1860761036.py, line 1)

In [2]:
first_number = 1

In [3]:
my_$ = 1000.00

SyntaxError: invalid syntax (60417283.py, line 1)

In [4]:
my_money = 1000.00

**Multiple variables**

**Exercise 5 – Assigning multiple variables**

In [5]:
x = 5
y = 2

x + x - y ** 2

6

In [6]:
x, y = 8, 5
x // y

1

**Comments**

**Exercise 6 – Comments in Python**

In [7]:
# This is a comments

In [8]:
# Set the variable pi equal to 3.14
pi = 3.14

In [9]:
pi = 3.14 # Set the variable pi equal to 3.14

**Docstrings**

In [ ]:
"""
This document will explore why comments are particularly
    useful when writing and reading code
"""

**Exercise 7 – String error syntax**

**Escape characters**

**Multiline strings**

In [11]:
vacation_note = '''
    1 2 3 4
    1 2 3 4 
    1 2 3 4
'''
print(vacation_note)

    1 2 3 4
    1 2 3 4
    1 2 3 4

**Exercise 8 – displaying strings**

In [13]:
greeting = 'Hello'
print(greeting)
greeting

Hello

'Hello'

**String operations and concatenation**

**Exercise 9 – string concatenation**

In [15]:
spanish_greeting = 'Hello'
print(spanish_greeting + ' Fuka')

Hello Fuka

**Exercise 10 – Implementing string methods**

In [16]:
name = 'Fukaaaaa'
name.lower() ## Convert name variable into lowercase letter
name.capitalize() ## Convert name variable into capitalize letter
name.upper() ## Convert name variable into uppercase letter
name.count('a') ## Count the number of 'a' instances in the name variable

5

**Casting**

**Exercise 11 – types and casting**

**Exercise 12 – using the input() function**

In [17]:
name = input('What your name?')

print (f'Hello! {name}.')

Hello! Fuka.

**Exercise 18 – calculating per fec t squares**

In [21]:
print('Enter a number to see if\'s a perfect square.')

number = input()

number = abs(int(number))

i = - 1

square = False

while i <= number:
    i += 1
    if i*i == number:
        square = True
        break
if square:
    print('The square root of',number,'is',i,'.')
else:
    print('',number,'is not a perfect square.')
    
'''
## Use square root algorithm:

print('Enter a number to see if it\'s a perfect square.')
number = abs(int(input()))

root = int(number**0.5)

if root**2 == number:
    print('The square root of', number, 'is', root, '.')
else:
    print(number, 'is not a perfect square.')
'''

Enter a number to see if's a perfect square.
 43 is not a perfect square.

**Exercise 19 – real estate offer**

In [24]:
print('A one bedroom in the Bay Area is listed at $599,000.')

offer = int(input('Enter your first offer on the house.'))

highest = int(input('Enter your highest offer on the house.'))

increment = int(input('How much more do you want to offer each time if each time your offer is rejected?'))

offer_accepted = False
while offer <= highest:  ## Edit document (best)
    if offer >= 650000:
        offer_accepted = True
        print('Your offer of', offer, 'has been accepted!')
        break
    print(f'We\'re sorry, your offer of {offer} has not been accepted.' )
    offer += increment

A one bedroom in the Bay Area is listed at $599,000.
We're sorry, your offer of 600000 has not been accepted.
We're sorry, your offer of 610000 has not been accepted.
We're sorry, your offer of 620000 has not been accepted.
We're sorry, your offer of 630000 has not been accepted.
We're sorry, your offer of 640000 has not been accepted.
Your offer of 650000 has been accepted!

**Exercise 20 – using for loops**

In [25]:
for i in 'Amazing':
    print(i)

A
m
a
z
i
n
g

In [26]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

**Exercise 21 – work ing with Python lists**

In [2]:
shopping = ['bread',' milk','eggs']
print(f'shopping: {shopping}')
for item in shopping:
    print(f'item: {item}')

mixed = [365,'days',True]

print(f'mixed: {mixed}')

shopping: ['bread', ' milk', 'eggs']
item: bread
item:  milk
item: eggs
mixed: [365, 'days', True]

**List methods**

**Exercise 22 – basic list operations**

In [3]:
shopping = ["bread","milk", "eggs"]
print(len(shopping))

3

**Exercise 27 – implementing matrix operations (addition and 
subtraction)**

In [7]:
X = [[10,11,12],[13,14,15],[16,17,18]]
Y = [[1,2,3],[4,5,6],[7,8,9]]

# Initialize a result placeholder
result = [[0,0,0],
    [0,0,0],
    [0,0,0]]
# iterate through rows
for i in range(len(X)):
# iterate through columns
    for j in range(len(X[0])):
        result[i][j] = X[i][j] + Y[i][j] #  or -
print(result)

[[9, 9, 9], [9, 9, 9], [9, 9, 9]]

**Exercise 28 – implementing matrix operations (multiplication)**

In [8]:
X = [[1, 2], [4, 5], [3, 6]]
Y = [[1,2,3,4],[5,6,7,8]]

result = [[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]


# iterating by row of X
for i in range(len(X)):
    # iterating by column by Y
    for j in range(len(Y[0])):
    # iterating by rows of Y
        for k in range(len(Y)):
            result[i][j] += X[i][k] * Y[k][j]

for r in result:
    print(r)

[11, 14, 17, 20]
[29, 38, 47, 56]
[33, 42, 51, 60]

**Exercise 30 – accessing a dic tionar y using dic tionar y methods**

In [10]:
album_sales = {'barbara':150, 'aretha':75, 
'madonna':300, 'mariah':220}
print( album_sales.values())
print(list( album_sales.values()))
print(list(album_sales.keys()))
for item in  album_sales.items():
    print(item)

dict_values([150, 75, 300, 220])
[150, 75, 300, 220]
['barbara', 'aretha', 'madonna', 'mariah']
('barbara', 150)
('aretha', 75)
('madonna', 300)
('mariah', 220)

**Exercise 33 – using sets in Python**

In [11]:
s1 = set([1,2,3,4,5,6])
print(s1)
s2 = {1,2,2,3,4,4,5,6,6}
print(s2)
s3 = {3,4,5,6,6,6,1,1,2}
print(s3)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [14]:
s4 = {'martha graham', 'alivin ailey', 'isadora duncan'}
print(s4)
s4.add('Fuka')
print(s4)

{'isadora duncan', 'martha graham', 'alivin ailey'}
{'isadora duncan', 'martha graham', 'alivin ailey', 'Fuka'}

# **Python algorithms**

### **1. Sorting algorithms**

**Exercise 40 – using bubble sort in Python**

In [ ]:
list = [5, 8, 1, 3, 2] 

still_swapping = True 
while still_swapping:
    still_swapping = False
    for i in range(len(list) - 1):
        if list[i] > list[i+1]:
            list[i], list[i+1] = list[i+1], list[i]
            still_swapping = True
list

4

[1, 2, 3, 5, 8]

### **2. Searching algorithms**

**Exercise 41 – linear search in Python**

In [ ]:
l = [5, 8, 1, 3, 2, 9, 4]

search_for = 4
result = -1
print(len(l)-1)

for i in range(len(l)):
    if search_for == l[i]:
        result = i
        break
print(result)

7
-1

**Exercise 42 – binary search in Python**

In [ ]:
l = [2, 3, 5, 8, 11, 12, 18]

search_for = 11

slice_start = 0
slice_end = len(l) - 1

found = False

while slice_start <= slice_end and not found:
    location = (slice_start + slice_end) // 2
    if l[location] == search_for:
        found = True
    else:
        if search_for < l[location]:
            slice_end = location - 1
        else:
            slice_start = location + 1
print(found)
print(location)

True
4

### **3. Basic functions**